{% load static %}
<link rel="shortcut icon" href="/favicon.ico?v=3" type="image/x-icon">
<link rel="icon" href="/favicon.ico?v=3" sizes="any">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}?v=3">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}?v=3">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}?v=3">
<link rel="manifest" href="{% static 'site.webmanifest' %}?v=3">
<meta name="theme-color" content="#e4002b">
